<h1>New Job</h1>
<%= simple_form_for @jobs do |form|%>
<%= form.input :title, label: "Job Title"%>
<%= form.input :company, label: "Company"%>
<%= form.input :url label: "URL"%>
<%= form.button :submit%>
<% end %>